name: Build and Test React Application (start version)

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci and test
        run: |
          npm ci
          npm run build --if-present
          npm test
      - name: Upload coverage reports to codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

  # --- NOUVEAU JOB : PUBLICATION NPM ---
  publish-npm:
    needs: build_test # Il attend que le build_test réussisse
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check if version has updated
        id: check
        uses: EndBug/version-check@v2 # Logique de bypass pour vérifier le changement de version

      - name: Setup Node.js
        if: steps.check.outputs.changed == 'true'
        uses: actions/setup-node@v3
        with:
          node-version: '21.x'
          registry-url: 'https://registry.npmjs.org' # Important pour NPM

      - name: Install dependencies
        if: steps.check.outputs.changed == 'true'
        run: npm ci

      - name: Build NPM package
        if: steps.check.outputs.changed == 'true'
        run: npm run build-npm

      - name: Publish to NPM
        if: steps.check.outputs.changed == 'true'
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # On va créer ce secret juste après

  # --- JOB DEPLOY MODIFIÉ ---
  deploy:
    needs: publish-npm # Il attend maintenant le job publish-npm
    if: always() # IMPORTANT : Il s'exécute même si publish-npm est "skippé"
    permissions: 
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment: 
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4